@font-face {
    font-family: "_form";
    src: url("https://fonts.google.com/specimen/Cormorant+Garamond?category=Serif&preview.text=hola&preview.text_type=custom");
  }

.body{
    background: grey;
}

.containerppal {
    border-style: ridge;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
    background: white;
}

.containerup {
    height: 100px;
    //border-style: ridge;
}

.containercent {
    height: 200px;
    //border-style: ridge;
    text-align: center;
}

.containerdown {
    height: 100;
    //border-style: ridge;
    text-align: center;
}

.title {
    font-size: xx-large;
    width: 450px;
    //border-style: ridge;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    width: 100px;
    //border-style: ridge;
    float: right;
    margin-top: 12px;
}

img {
    width: 80px;
    height: 80px;
}

.mensaje {
    font-size:large;
    width: 250px;
    //border-style: ridge;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.valores {
    //font-size: xx-large;
    width: 250px;
    //border-style: ridge;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

input {
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    font-family: "_form", cursive;
    }

button {
    text-align: center;
    border-style: ridge;
    font-size: medium;
    background-color: lightgrey;
    border: 0;
}   